body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #dbd3d8;
  line-height: 1.6rem;
  font-size: 1rem;
}
* {
  border: 1px solid red !importan;
}
header {
  background-color: #e1e7ee;
  position: sticky;
  top: 0;
  align-items: center;
  box-shadow: 0px 2px 10px #000;
  z-index: 100;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 150vh;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul a {
  position: relative;
  right: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #d77a61;
  font-weight: 900;
}

nav ul li a {
  position: relative;
  left: 3.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.3rem;
  text-decoration: none;
  color: #7e7471;
  font-weight: 900;
}

.home .intro .profil img {
  position: absolute;
  top: 22%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.home .intro .profil-text h1 {
  position: absolute;
  left: 10rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.home .intro .profil-text h2 {
  position: absolute;
  margin-top: 3rem;
  left: 10rem;
  margin-bottom: 1rem;
}

.home .intro .profil-text .isi1 {
  position: absolute;
  margin-top: 5rem;
  left: 10rem;
  max-width: 15rem;
}
.home .intro .profil-text .isi2 {
  position: absolute;
  margin-top: 5rem;
  left: 26rem;
  max-width: 25rem;
}
.home .intro .profil-text .isi1 .more {
  display: inline-block;
  text-decoration: none;
  background-color: #e1e7ee;
  color: #d77a61;
  position: absolute;
  margin-top: 2rem;
  left: 0.01rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  text-shadow: none;
}

.home .intro .profil-text .isi2 .more {
  display: inline-block;
  text-decoration: none;
  background-color: #e1e7ee;
  color: #d77a61;
  position: absolute;
  margin-top: 2rem;
  left: 0.01rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  text-shadow: none;
}

.skill {
  position: relative;
  top: 25rem;
  max-width: 28rem;
  left: 8rem;
  margin-bottom: 5rem;
}
.skill h1 {
  margin: 0;
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}

.skill .skills .s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}

.skill .skills .s2 {
  width: 180px;
  height: 250px;
  background-color: azure;
  margin: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.skill .skills .s2:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill .skills .s1 .s2 img {
  display: grid;
  margin: 2.5rem;
  width: 100px;
  height: 115px;
  margin-bottom: 3rem;
}
.skill .skills .s1 .s2 .desc {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  position: relative;
  bottom: 2rem;
}

.skill .skills .s1 .s2 .desc .more-link {
  text-decoration: underline;
  background-color: #e1e7ee;
  color: #d77a61;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  text-shadow: none;
  cursor: pointer;
}

.skill .skills .s1 .s2 .desc .more-link:hover {
  background-color: #d77a61;
}

.skill .skills .s1 .s2 .desc .more-desc {
  max-height: 0; /* Awalnya tersembunyi */
  overflow: hidden;
  opacity: 0;
  padding: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out,
    padding 0.5s ease-out; /* Tambahkan transisi untuk opacity dan padding */
}

.skill .skills .s1 .s2.active .more-desc {
  max-height: 200px; /* Atur tinggi maksimum saat aktif */
  opacity: 1; /* Tampilkan elemen */
  padding: 10px; /* Tambahkan padding saat aktif */
}

.project {
  position: absolute;
  top: 75rem;
  left: 20%;
  max-width: 28rem;
}
.project .projects {
  text-align: center;
  margin-top: 2rem;
}

.projects h2 {
  text-align: center;
  position: relative;
  margin: 0;
  margin-bottom: 2rem;
}

.projects .projects-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}

.projects .projects-grid .project-item {
  position: relative;
  width: 180px;
  height: 250px;
  background-color: azure;
  margin: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.project .projects .projects-grid .project-item img {
  width: 80px;
  height: 150px;
}

.project .projects .projects-grid .project-item h3 {
  margin-top: 4rem;
}

.project .projects .projects-grid .project-item p {
  margin-top: 2rem;
}
